
/* Makes body full size */
/* body 
{
    min-height: 100%; 
    height: 100vh;
} */

.roundedBorder
{
    border-radius: 8px;
}

.grayWhiteGradBG
{
    background-image: linear-gradient(to top right, rgb(68, 68, 68), white);
    background-repeat: no-repeat;
    background-size: cover;
}

.sameSizeImg
{
    width: 200px;      /* Ancho fijo */
    height: 200px;     /* Alto fijo */
    object-fit: cover; /* Recorta la imagen para que llene el espacio sin deformarse */
    border-radius: 8px; /* Opcional: esquinas redondeadas */
    /* display: block;    Asegura que no haya espacios extra si están dentro de inline elements */
}


